<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">

    <servlet>
        <servlet-name>ForeServlet</servlet-name>
        <servlet-class>srsjava.servlet.ForeServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ForeServlet</servlet-name>
        <url-pattern>/foreServlet</url-pattern>
    </servlet-mapping>
    
   <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>srsjava.servlet.CourseServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/courseServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>srsjava.filter.EncodingFilter</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>    
    
   

    <filter>
        <filter-name>ForeServletFilter</filter-name>
        <filter-class>srsjava.filter.ForeServletFilter</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>ForeServletFilter</filter-name>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>        
        <url-pattern>/*</url-pattern>
    </filter-mapping>
        
</web-app>